html{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: inherit;
  color: inherit;
}

.siteStart {
  background: url(/assets/bg4.jpg);
  text-align: center;
  height: 30vw;
  background-position: center;
  font-family: sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  overflow: auto;
}

.displayBoxText{
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.siteStart:hover{
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.secondPart {
  /*Photo by Sebastian Muller on Unsplash*/
  background: url(/assets/bg2.jpg);
  text-align: center;
  height: 30vw;
  vertical-align: middle;
  padding: 10em;
  background-position: center;
  font-family: sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em;
  margin-right: inherit;
  margin: auto;
  overflow: auto;
}
.secondPart:hover{
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thirdPart{
  /* Photo by Anchor Lee on Unsplash */
  background: url(/assets/bg5.jpg);
  text-align: center;
  height: 30vw;
  vertical-align: middle;
  padding: 10em;
  background-position: center;
  font-family: sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em;
  margin: auto;
  overflow: auto;
}
.thirdPart:hover{
  opacity:0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textBoxes{
  height: 10em;
  font-family: serif;
  font-size: 3em;
  background-color: black;
  color: white;
}
